@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #353570;
  --light-grey: #F3F5F9;
  --linear-gradient-purple:#6161D680;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 237, 246, 249;
    --background-end-rgb: 248, 249, 250;
  }
}

body {
  color: rgb(var( --light-grey));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  @layer base {
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    }
  }

